@import "colors.css";

* {
	all: unset;
	font-family: "Roboto", "JetBrainsMono Nerd Font Propo";
}

tooltip {
	background-color: @bg1;
	color: @fg;
	border-radius: 12px;
}

tooltip box {
	margin: 5px;
}

.modules-center {
	background-color: @bg1;
	padding: 3px 18px;
	color: @fg;
	border-radius: 99px;
}

#clock {
	font-weight: 500;
}

#workspaces {
	min-width: 100px;
	background-color: @bg2;
	padding: 2px 3px;
	margin: 3px 0;
	border-radius: 99px;
	font-size: 0.95rem;
}

#workspaces button {
	background-color: @bg3;
	padding: 0px 5px;
	border-radius: 99px;
	margin: 0 2px;
	transition: all 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
	min-width: 1.5rem;
}


#workspaces button.empty {
	color: @grey0;
}

#workspaces button.active {
	background-color: @green;
	color: @bg1;
	font-weight: 600;
	min-width: 1.5rem;
	transition: none;
	min-height: 0.8rem;
}

#battery {
	background-color: @green;
	margin: 6px 0;
	padding: 0 8px;
	border-radius: 99px;
	font-weight: 500;
	color: @bg1;
	letter-spacing: -1px;
}

#battery.warning {
	background-color: @yellow;
}

#battery.critical {
	background-color: @red;
}
